.head{
    color: black;
    text-align: center;
    font-family: 'Josefin Slab';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 37px;
padding-top: 2rem;
}
ul{
    justify-content: space-evenly;
    display: flex;
}
li{
    list-style: none;
}
button{
background-color: black;
color: white;
border: none;
padding: 10px;
border-radius: 25px;


}