

.menu .nav-item{
    padding: 10px 34px;
   
}

a{
    color: black;
    text-decoration: none;
}
ul{
    font-size: 20px;
    font-weight: bold;
}

nav{
    font-family:'Times New Roman', Times, serif;
    font-size: 500;
    font-weight: 500;
    background-color:#EDE6DB; ;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}