
/* .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: #EDE6DB;
}

.navbar {
    /* display: flex; */
    /* align-items: right; */
    /* justify-content: space-between; */
    /* padding: 20px; */
    
    /* background-color: #EDE6DB;
    color: #fff;
} */

.menu .nav-item{
    padding: 10px 34px;
   
}

/* .btn {
    border-radius: 15px;
    height: 100%;
    width: 100%;

}
.nav-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
} */ 

*{
    font-family:'Times New Roman', Times, serif;
    font-size: 500;
    font-weight: 500;
    background-color: #EDE6DB;
}

