.tabs{

    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    background-color: #EDE6DB;
    padding-left: 5rem;
    padding-inline-end: 5rem;
}
tr{
   border: solid rgb(110, 104, 104);
}
table{
    background-color: #EDE6DB;
}