.regiio{
    background-color: #EDE6DB;
    width: 40%;
    text-align: center;

}
.regii{
    left: 20%;
}
.regi{
    background-color: #EDE6DB;
}
.opt{
    text-align: center;
}
.doc{
    background-color: #EDE6DB;
    min-height: 39rem;
}
.fav{
    padding-top: .2rem;
}
setErrMsg{
    color: red;
}